h2{
	text-align:center;
}
p{
	margin: 0px 0px 0px 50px;
	padding: 50px;
}
.videos{
	margin-left: 250px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 250px;
}
h1{
	text-align: center;
}
.videos2{
	margin-left: 0px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 250px;

}